<div class="form_container">
  <img class="logo" src="assets/logo-light.png" alt="Logo" />
  <div class="title_container">
    <p class="title text-center">Reset Your Password</p>
  </div>
  <div class="input_container">
    <form
      action=""
      class="d-flex flex-column"
      [formGroup]="forgotPasswordForm"
      (submit)="onSubmit()"
    >
      <app-input
        class="py-2"
        title="Email"
        type="email"
        className="input_field py-2 fs-6"
        placeholder="Email Address"
        [parentForm]="forgotPasswordForm"
        controlName="email"
        [validationMsg]="emailValidationMsg"
        icon="bi-envelope"
      ></app-input>
      <app-button
        label="Reset Password"
        title="Reset Password"
        type="submit"
        className="my-3 login-btn"
      >
      </app-button>
      <span class="cursor-pointer text-center">
        <a routerLink="/login" class="back-to-login text-decoration-none"
          ><i class="bi bi-chevron-left"></i> Back To Login</a
        >
      </span>
    </form>
  </div>
</div>
