:host {
  width: 500px;
}
.back-to-login {
  font-size: 1rem;
  font-weight: 600 !important;
  color: #62b9c8;
}
@media screen and (max-width: 1200px) {
  :host {
    width: 380px;
  }
}
@media screen and (max-width: 992px) {
  :host {
    width: 70%;
  }
}
