<div class="form_container">
  <img class="logo" src="assets/logo-light.png" alt="Logo" />
  <div class="title_container">
    <p class="title text-center">Login To Your Account</p>
  </div>
  <div class="input_container">
    <form
      action=""
      class="d-flex flex-column"
      [formGroup]="loginForm"
      (submit)="onSubmit()"
    >
      <app-input
        class="py-2"
        title="Email"
        type="email"
        className="input_field py-2 fs-6"
        placeholder="Email Address"
        [parentForm]="loginForm"
        controlName="email"
        [validationMsg]="emailValidationMsg"
        icon="bi-envelope"
      ></app-input>
      <app-input
        class="py-2"
        title="Password"
        type="{{ showPassword ? 'text' : 'password' }}"
        className="input_field py-2 fs-6"
        placeholder="Password"
        [parentForm]="loginForm"
        controlName="password"
        [validationMsg]="passwordValidationMsg"
        (iconClick)="togglePasswordVisibility()"
        [icon]="showPassword ? 'bi-eye-fill' : 'bi-eye-slash-fill'"
      ></app-input>
      <app-button
        label="Login"
        title="Login"
        type="submit"
        className="my-3 login-btn"
      >
      </app-button>
      <span class="cursor-pointer text-center"
        ><a
          routerLink="/forgot-password"
          class="forgot-password text-decoration-none"
          >Forgot Password?</a
        ></span
      >
    </form>
  </div>
</div>
