<div class="form_container">
  <img class="logo" src="assets/logo-light.png" alt="Logo" />
  <div class="title_container">
    <p class="title text-center">Reset Password</p>
  </div>
  <div class="input_container">
    <form
      action=""
      class="d-flex flex-column"
      [formGroup]="resetPasswordForm"
      (submit)="onSubmit()"
    >
      <app-input
        class="py-2"
        title="Password"
        type="password"
        className="input_field py-2 fs-6"
        placeholder="Password"
        [parentForm]="resetPasswordForm"
        controlName="password"
        [validationMsg]="passwordValidationMsg"
      ></app-input>
      <app-input
        class="py-2"
        title="Confirm Password"
        type="{{ showPassword ? 'text' : 'password' }}"
        className="input_field py-2 fs-6"
        placeholder="Confirm Password"
        [parentForm]="resetPasswordForm"
        controlName="confirmPassword"
        [validationMsg]="passwordValidationMsg"
        (iconClick)="togglePasswordVisibility()"
        [icon]="showPassword ? 'bi-eye-fill' : 'bi-eye-slash-fill'"
      ></app-input>
      <app-button
        label="Reset Password"
        title="Reset Password"
        type="submit"
        className="my-3 login-btn"
      >
      </app-button>
    </form>
  </div>
</div>
